/* .categories-holder{
  display: grid;
  width: 60%;
  height: 7em;
  grid-template-columns: repeat(6, 1fr);
}

.category {
  width: 93%;
  height: 80%;
  border: 10px solid black;
  border-radius: 5%;
  text-align: center;
  background-color: blue;
  color: white;
  justify-self: center;
  align-self: center;
  font-size: large;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-board{
  display: grid;
  width: 60%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.column{
  display: flex;
  flex-direction: column;
}

.column__clue{
  background-color: blue;
  color: white;
  border: 5px solid black;
  border-radius: 5%;
} */

.game-board{
  display: grid;
  width: 80%;
  height: 32em;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.categories-holder{
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr;
  grid-column-start: 1;
  grid-column-end: 7;
}

.column{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-row-start: 2;
  grid-row-end: 7;
}

.game-board__section{
  width: 93%;
  height: 80%;
  border: 10px solid black;
  text-align: center;
  background-color: blue;
  justify-self: center;
  align-self: center;
  font-size: large;
  font-family: 'Rubik', sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category{
  color: white;
}

.column__clue{
  color: yellow;
}
